<h1>Edit Records</h1>
<form action="/records/<%= index %>?_method=PUT" method="POST">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="<%= record.title %>"/>

    <label for="artist">Artist</label>
    <input type="text" name="artist" id="artist" value="<%= record.artist%>"/>

    <label for="numberOfSongs">Number of Songs</label>
    <input type="text" name="numberOfSongs" value="<%= record.numberOfSongs%>"/>

    <label for="readyToListen">Ready To Listen</label>
    <input type="checkbox" name="Ready To Listen" id="readyToListen" 
    <% if (record.readyToListen === true) { %>
    <% } %> />

    <input type="submit" value="Edit the Record">

</form>