<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="/css/app.css">
    <title>The Record Crate</title>
</head>
<body style="height: 100vh; display:flex; flex-direction:column; justify-content:space-between">
    <h1><a href="/records">Nav Bar</a></h1>
        <nav>
            <a href="/records/new"> Add a New Record</a>
        </nav>
    <%- body %> 
        <p>Holden copywrite © 2021</p>
</body>
</html>