<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="/css/app.css">
    <title>The Record Crate</title>
</head>
<body style="height: 100vh; display:flex; flex-direction:column; justify-content:space-between">
    <h1><a href="/records">Nav Bar</a></h1>
        <nav>
            <ul>
                <li><a href="/records">Records Index</a></li>
                <li><a href="/records/new">Add a New Record</a></li>
                <% if(!loggedIn) { %>
                <li><a href="/sessions/signup">Sign Up</a></li>
                <li><a href="/sessions/login">Log In</a></li>
                <% } else { %>
                <li><a href="/sessions/logout">Log Out</a></li>
                <% } %>
            </ul>
        </nav>
        <% if(username) { %>
            <p>Welcome, <%= username %></p>
        <% } %>
        <% if (message) { %>
            <p><%= message %></p>
        <% } %> 
    <%- body %> 
        <p>Holden copywrite © 2021</p>
</body>
</html>