<!-- Styling and form for adding a new record -->
<h1 style="color:whitesmoke; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Add a new record to your crate</h1>
<form action="/records" method='POST'>
    <label for="title" style="color:whitesmoke; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Title</label>
    <input type="text" name="title" id='title'/>

    <label for="artist" style="color:whitesmoke; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Artist</label>
    <input type="text" name="artist" id='artist'/>

    <label for="genre" style="color:whitesmoke; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Genre</label>
    <input type="text" name="genre" id='genre'/>

    <label for="numberOfSongs" style="color:whitesmoke; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Number of Songs</label>
    <input type="number" name="numberOfSongs" id='numberOfSongs' />

    <label for="img" style="color:whitesmoke; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Image URL</label>
    <input type="text" name="img" id='img'/>

    <label for="readyToListen" style="color:whitesmoke; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Ready To Listen?</label>
    <input type="checkbox" name="readyToListen" id='readyToListen'/>
    
    <input class="btn btn-success" type="submit" value='Add New Record'/>

</form>