<h1>Make a new record</h1>
<form action="/records" method="POST">
    <label for="title">Title</label>
    <input type="text" name="title" id="title"/>

    <label for="artist">Artist</label>
    <input type="text" name="artist" id="artist"/>

    <label for="tracklist">Tracklist</label>
    <input type="text" name="tracklist" >
    
    <label for="mintCondition">Mint Condition</label>
    <input type="checkbox" name="inMintCondition" id="mintCondition">
    <input type="submit" value="Create Record">

</form>