<h1>Add a new record to your crate</h1>
<form action="/records" method="POST">
    <label for="title">Title</label>
    <input type="text" name="title" id="title"/>

    <label for="artist">Artist</label>
    <input type="text" name="artist" id="artist"/>

    <label for="genre">Genre</label>
    <input type="text" name="genre" id="genre"/>

    <label for="numberOfSongs">Number of Songs</label>
    <input type="number" name="numberOfSongs" id="numberOfSongs" />

    <label for="img">Image URL</label>
    <input type="text" name="img" id="img"/>

    <label for="readyToListen">Ready To Listen?</label>
    <input type="checkbox" name="ReadyToListen" id="readyToListen"/>
    
    <input type="submit" value="Create Record"/>

</form>