<%= record.title %> and the artist of this record is
    <%= record.genre %>
    <% if (record.readyToListen) { %>
    <p> Let's listen to this record <%= record.title %></p>
    <% } else { %>
        <p>This record is not ready to be listened to</p>
    <% } %>