h1{
    background: whitesmoke;
    margin: 0;
    margin-bottom: .5em;
    padding: 1em;
}

nav{
    width: 100%
}

nav > ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly
}

body{
   display: grid;
   grid-template-columns: repeat(5, 1fr, 1fr);
   grid-gap: 10 rem
}

img{
    width: 12 rem
}