<h1 style="color:whitesmoke; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Log In</h1>
<form action="/sessions/login" method="POST">
    <fieldset>
        <label for="username" style="color:whitesmoke; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Username:</label>
        <input type="text" id="username" name="username">
    </fieldset>
    <fieldset>
        <label for="password" style="color:whitesmoke; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Password:</label>
        <input type="password" id="password" name="password">
    </fieldset>
    <input class="btn btn-primary btn-lg active" type="submit" value="Log In">
</form>
