<h1>Sign Up</h1>
<form action="/session/signup" method="POST">
    <fieldset>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </fieldset>
    <fieldset>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </fieldset>
    <fieldset>
        <label for="confirmPassword">Re-type Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword">
    </fieldset>
    <input type="submit" value="SignUp">
</form>